* {
    box-sizing: border-box; 
  }
  
  body {
    font-family: Helvetica;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: beige;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  } 
  h1 {
    text-align: center;
    font-size: 40px;
    color: tan;
    justify-content: center;
    margin-bottom: -2%;
  }
  
  h2 {
    text-align: center;
    color: gold; 
  }
  
  .slot-machine {
    width: 80%;
    height: 60%;
    display: flex;
    justify-items: stretch;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px; 
    background-color: tan; 
    } 
  
  
  #reel1 {
    height: 20%;
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: grey;
    margin: 10px;
  
  }
  
  #reel2 {
    height: 20%;
    width: 30%;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: grey;
  
  }
  
  #reel3 {
    height: 20%;
    width: 30%;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: grey;
  
  }
  
 spin-button {
      display: flex;
      
      align-self: flex-end;
      margin-right: 40%;
      margin-top: 0%;
  }


button {
    align-self: center;
    color: beige; 
    background-color: gold;
    padding: 10px 20px;
    margin-top: 20%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, clip-path 0.3s ease;   
} 