* {
    box-sizing: border-box; 
  }
  
  body {
    font-family: Helvetica;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
  } 
  
    h1 {
      text-align: center;
      color: brown;
      justify-content: center;
    }
  
  h2 {
    text-align: center;

  
  }
  
   .slot-machine {
  width: 40%;
  height: 50%;
  display: flex;
  justify-items: stretch;
  align-items: center;
  align-content: center;
  border: 15px solid black;
  padding: 20px;
  border-radius: 10px; 
  } 
  
  
  #reel1 {
    height: 20%;
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: grey;
    margin: 10px;
  
  }
  
  #reel2 {
    height: 20%;
    width: 30%;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: red;
  
  }
  
  #reel3 {
    height: 20%;
    width: 30%;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: limegreen;
  
  }
  
 spin-button {
      display: flex;
      align-self: flex-end;
      margin-right: 40%;
      margin-top: 0%;
  }